.root {
    -fx-background-color:
    linear-gradient(#7980ab, #4A789C);
}

.button {
    /* -fx-background-color: #F4BA70; */
    -fx-background-color:
    linear-gradient(#f4ed61, #f4a370);

    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color:
    linear-gradient(#f47470, #f44551);
}

.label {
    -fx-text-fill: #FCFEFD;
    -fx-effect: dropshadow( gaussian, rgba(2, 36, 60, 0.8), 7,10,0,0 );
}

.custom-text-field {
    /* -fx-background-color: #7FCA9F; */
    -fx-background-color:
    linear-gradient(#7FCA9F, #189a9f);
    -fx-background-radius: 20;
}

.custom-text-field:focused {
    -fx-background-color: #FCFEFD;
}

.custom-combobox {
    -fx-background-color:
    linear-gradient(#62C2CC, #628ccc);
    -fx-background-radius: 20;
}

.custom-combobox:focused {
    -fx-background-color: #FCFEFD;
}

.custom-textArea {
    -fx-font-size:12;
    -fx-font-family: "Times New Roman";
    -fx-background-color: grey;
}

.custom-textArea:focused {
    -fx-font-size:16;
    -fx-background-color: white;
}
